Django>=4.2,<6.0
djangorestframework
python-dotenv
psycopg2-binary
gunicorn

# Core RAG dependencies
tiktoken
openai
qdrant-client
pdfplumber

# LangChain core + integrations
langchain
langchain-openai
langchain-qdrant
langchain-community
langchain-text-splitters

redis
djangorestframework-simplejwt==5.5.1
django-cors-headers